{% load static %}
<!-- メイン -->
<div id="main">
    <!-- ヘッダー -->
    <div id="header">
        <h1>こちらには、メインキーワードや紹介文を入れてください</h1>
        <div id="header_inner">
            <div id="h_logo">
                <h2><a href="{% url 'main:index' %}">あなたも里親</a></h2>
            </div>
            <div id="h_info">
                <p class="tel">TEL. 00-0000-0000</p>
                <p>営業時間 AM10:00 ～ PM20:00</p>
            </div>
        </div>
    </div>

    <div class="container-class">
        <div class="contens-class">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3 prefectures-menu menu-top none-link"><a>北海道</a></div>
                    <div class="col-sm-3 prefectures-menu none-link"><a>東北</a></div>
                    <div class="col-sm-3 prefectures-menu"><a href="{% url 'main:kanto' %}">関東</a></div>
                    <div class="col-sm-3 prefectures-menu none-link"><a>中部</a></div>
                </div>
                <div class="row">
                    <div class="col-sm-3 prefectures-menu menu-top none-link"><a>近畿</a></div>
                    <div class="col-sm-3 prefectures-menu none-link"><a>中国</a></div>
                    <div class="col-sm-3 prefectures-menu none-link"><a>四国</a></div>
                    <div class="col-sm-3 prefectures-menu none-link"><a>九州</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="line">
<!-- メイン画像 ここから -->
<div id="header-img">
    <img src="{% static 'main/img/top/IMG_2708_cut.JPG' %}" width=100% height="490" alt="head_img" class="main_photo">
    <p>You are also a foster parent.</p>
</div>
<hr class="line">

<!-- 肉球のマークを入れる -->